[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
ipython = "*"
scrapy-rotating-proxies = "*"
scrapyd = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
